@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    display: none;
  }
}
.animate-fade-out {
  animation: fadeOutUp 5s ease-out forwards;
  animation-delay: 5s;
}
